# Runs `cargo publish --dry-run` before another release

name: Check crate publishing works
on:
  pull_request:
    branches: [ release ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  cargo_publish_dry_run:
    name: Publishing works
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Install stable Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Get Cargo version
        id: cargo_version
        run: echo "::set-output name=version::$(cargo -V | tr -d ' ')"
        shell: bash

      - name: Run `cargo publish --dry-run`
        run: cargo publish --dry-run
