name: CI
on:
  pull_request:
  merge_group:
  push:
    branches: [ release, dev ]
  schedule: [ cron: "0 6 * * 4" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo build --workspace
      - run: cargo test --all-features --workspace

  test-i686:
    name: Tests (32-bit)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: dtolnay/rust-toolchain@stable
      - run: | 
          sudo apt-get update
          sudo apt-get install -y gcc-multilib
      - run: rustup target add i686-unknown-linux-gnu
      - run: cargo build --workspace --target i686-unknown-linux-gnu
      - run: cargo test --all-features --workspace --target i686-unknown-linux-gnu

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - name: Check Clippy lints
        env:
          RUSTFLAGS: -D warnings
        run: cargo clippy --workspace

  check_formatting:
    name: Formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - run: cargo fmt --all -- --check

  check_documentation:
    name: Docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: dtolnay/rust-toolchain@stable
      - name: Check documentation
        env:
          RUSTDOCFLAGS: -D warnings
        run: cargo doc --workspace --no-deps --document-private-items

  minimal-versions:
    name: Minimal versions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: dtolnay/rust-toolchain@nightly
      - run: cargo +nightly update -Zminimal-versions
      - run: cargo +nightly build --workspace
      - run: cargo +nightly test --all-features --workspace
