# Deploys the latest development documentation to Github Pages

name: Deploy documentation
on:
  push:
    branches: [ dev ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  deploy_documentation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - uses: dtolnay/rust-toolchain@stable

      - name: Build documentation
        run: cargo doc --no-deps

      - name: Deploy documentation
        if: ${{ github.event_name == 'branches' }}
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/doc
          force_orphan: true
