# Deploys the latest development documentation to Github Pages

name: Deploy documentation
on:
  push:
    branches: [dev]
  workflow_dispatch:

permissions: {}

env:
  CARGO_TERM_COLOR: always

jobs:
  deploy_documentation:
    runs-on: ubuntu-latest
    permissions:
      contents: write # for peaceiris/actions-gh-pages
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false

      - name: Build documentation
        run: cargo doc --no-deps

      - name: Deploy documentation
        if: ${{ github.event_name == 'branches' }}
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/doc
          force_orphan: true
